### BATCH PROCESSING

In [1]:
import pandas as pd

In [3]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:04
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 646.7 kB/s eta 0:00:0031m2.8 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ffd0508ab6304ff41438481579466990f1facff47cdf3b16f06e9f6bf152bacb
  Stored in directory: /home/stilinski/.cache/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyspark

In [5]:
df=pd.read_csv("order_items.csv")

In [7]:
df1= pd.read_csv("products.csv")

In [8]:
df.head()

   OrderItemID  OrderID  ProductID  Quantity  PricePerUnit
0         5001     2001       1001         2         10.99
1         5002     2001       1004         1         25.99
2         5003     2002       1003         3          8.99
3         5004     2003       1002         1         15.49
4         5005     2003       1005         2         12.99

In [9]:
df1.head()

,ProductID,Name,Description,Price,Category
0,1001,Widget A,High-quality widget for various uses,10.99,Widgets
1,1002,Gadget Pro,Advanced gadget with multiple features,15.49,Gadgets
2,1003,Widget B,Economical widget option,8.99,Widgets
3,1004,Toolset X,Comprehensive toolset for DIY enthusiasts,25.99,Tools
4,1005,Gadget Basic,Basic version of our popular gadget,12.99,Gadgets

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark =SparkSession.builder.appName("sales").getOrCreate()

24/06/30 07:02:50 WARN Utils: Your hostname, stilinski-HP-EliteBook-x360-1030-G2 resolves to a loopback address: 127.0.1.1; using 192.168.58.163 instead (on interface wlp58s0)
24/06/30 07:02:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/30 07:03:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/30 07:03:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [12]:
spark

In [25]:
dfspark =spark.read.csv("order_items.csv",header =True ,inferSchema=True)

In [26]:
dfspark.show()

+-----------+-------+---------+--------+------------+
|OrderItemID|OrderID|ProductID|Quantity|PricePerUnit|
+-----------+-------+---------+--------+------------+
|       5001|   2001|     1001|       2|       10.99|
|       5002|   2001|     1004|       1|       25.99|
|       5003|   2002|     1003|       3|        8.99|
|       5004|   2003|     1002|       1|       15.49|
|       5005|   2003|     1005|       2|       12.99|
|       5006|   2004|     1006|       1|      299.99|
|       5007|   2004|     1007|       1|     1099.99|
|       5008|   2005|     1008|       2|       89.99|
|       5009|   2005|     1009|       1|       49.99|
|       5010|   2006|     1010|       5|        5.99|
|       5011|   2006|     1011|       2|       59.99|
|       5012|   2007|     1012|       1|       39.99|
|       5013|   2007|     1013|       1|      199.99|
|       5014|   2008|     1014|       3|       14.99|
|       5015|   2008|     1015|       1|       29.99|
|       5016|   2009|     1016|       2|      129.99|
|       5017|   2009|     1017|       1|       24.99|
|       5018|   2010|     1018|       1|       79.99|
+-----------+-------+---------+--------+------------+

In [23]:
dfspark1 =spark.read.csv("products.csv",header =True,inferSchema=True)

In [24]:
dfspark1.show()

+---------+--------------------+--------------------+-------+-----------+
|ProductID|                Name|         Description|  Price|   Category|
+---------+--------------------+--------------------+-------+-----------+
|     1001|            Widget A|High-quality widg...|  10.99|    Widgets|
|     1002|          Gadget Pro|Advanced gadget w...|  15.49|    Gadgets|
|     1003|            Widget B|Economical widget...|   8.99|    Widgets|
|     1004|           Toolset X|Comprehensive too...|  25.99|      Tools|
|     1005|        Gadget Basic|Basic version of ...|  12.99|    Gadgets|
|     1006|    Smartphone Alpha|Latest model of o...| 299.99|Electronics|
|     1007|          Laptop Pro|High-performance ...|1099.99|Electronics|
|     1008|Bluetooth Headphones|Wireless headphon...|  89.99|Electronics|
|     1009|      Electric Drill|Powerful and reli...|  49.99|      Tools|
|     1010|       LED Lightbulb|Energy-efficient ...|   5.99|       Home|
|     1011|       Running Shoes|Comfortable and d...|  59.99|    Fashion|
|     1012|   Backpack Explorer|Spacious and rugg...|  39.99|    Fashion|
|     1013|   Smartwatch Health|Smartwatch with h...| 199.99|Electronics|
|     1014|        Water Bottle|Insulated water b...|  14.99|     Sports|
|     1015|            Yoga Mat|Eco-friendly yoga...|  29.99|     Sports|
|     1016|   Bookshelf Speaker|Compact bookshelf...| 129.99|Electronics|
|     1017|          Table Lamp|Modern design tab...|  24.99|       Home|
|     1018|        Coffee Maker|Automatic coffee ...|  79.99|    Kitchen|
|     1019|      Desk Organizer|Wooden desk organ...|  18.99|     Office|
|     1020|          Wall Clock|  Stylish wall clock|  34.99|       Home|
+---------+--------------------+--------------------+-------+-----------+

In [27]:
dfspark.printSchema()

root
 |-- OrderItemID: integer (nullable = true)
 |-- OrderID: integer (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- PricePerUnit: double (nullable = true)

In [28]:
dfspark1.printSchema()

root
 |-- ProductID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Category: string (nullable = true)

In [29]:
dfspark.columns

['OrderItemID', 'OrderID', 'ProductID', 'Quantity', 'PricePerUnit']

In [31]:
dfspark1.columns

['ProductID', 'Name', 'Description', 'Price', 'Category']

In [34]:
dfspark.describe().show()

24/06/30 07:09:48 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------------------+-----------------+------------------+------------------+
|summary|      OrderItemID|           OrderID|        ProductID|          Quantity|      PricePerUnit|
+-------+-----------------+------------------+-----------------+------------------+------------------+
|  count|               18|                18|               18|                18|                18|
|   mean|           5009.5|2005.4444444444443|           1009.5|1.7222222222222223|122.23999999999998|
| stddev|5.338539126015656| 2.791209356748872|5.338539126015656|1.0740552924509195|255.89084586987474|
|    min|             5001|              2001|             1001|                 1|              5.99|
|    max|             5018|              2010|             1018|                 5|           1099.99|
+-------+-----------------+------------------+-----------------+------------------+------------------+

In [35]:
dfspark1.describe().show()

+-------+-----------------+-----------------+--------------------+------------------+-----------+
|summary|        ProductID|             Name|         Description|             Price|   Category|
+-------+-----------------+-----------------+--------------------+------------------+-----------+
|  count|               20|               20|                  20|                20|         20|
|   mean|           1010.5|             NULL|                NULL|112.71499999999996|       NULL|
| stddev|5.916079783099616|             NULL|                NULL|243.83134135364097|       NULL|
|    min|             1001|Backpack Explorer|Advanced gadget w...|              5.99|Electronics|
|    max|             1020|         Yoga Mat|Wooden desk organ...|           1099.99|    Widgets|
+-------+-----------------+-----------------+--------------------+------------------+-----------+

In [51]:
# Join using the left join since we might have columns in one column and lack in the other
query = """
    SELECT p.Category, 
           SUM(oi.Quantity * p.Price) AS Total_sales, 
           COUNT(oi.OrderID) AS TotalOrders
    FROM products p
    LEFT JOIN order_items oi ON oi.ProductID = p.ProductID
    GROUP BY p.Category
    ORDER BY Total_sales DESC
"""


result_df = spark.sql(query)


result_df.show()

+-----------+-----------+-----------+
|   Category|Total_sales|TotalOrders|
+-----------+-----------+-----------+
|Electronics|    2039.93|          5|
|    Fashion|     159.97|          2|
|    Kitchen|      79.99|          1|
|      Tools|      75.98|          2|
|     Sports|      74.96|          2|
|       Home|      54.94|          2|
|    Widgets|      48.95|          2|
|    Gadgets|      41.47|          2|
|     Office|       NULL|          0|
+-----------+-----------+-----------+